@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CRUD.Sexo.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HBIS.CRUD.SexoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>