{
    "RootNamespace": "HBIS",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=BULKY; Initial Catalog=OLTP; integrated security=False;user id=sa; Password=sollua",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "cad.Paciente",
                    "Identifier": "Paciente",
                    "Module": "Paciente",
                    "ConnectionKey": "Default",
                    "PermissionKey": "User:General"
                },
                {
                    "Tablename": "cad.Medico",
                    "Identifier": "Medico",
                    "Module": "ADD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "User:General"
                },
                {
                    "Tablename": "cad.Historico",
                    "Identifier": "Historico",
                    "Module": "Historico",
                    "ConnectionKey": "Default",
                    "PermissionKey": "User:General"
                },
                {
                    "Tablename": "cad.Exame",
                    "Identifier": "Exame",
                    "Module": "Exame",
                    "ConnectionKey": "Default",
                    "PermissionKey": "User:General"
                },
                {
                    "Tablename": "cad.ExameDescicao",
                    "Identifier": "ExameDescicao",
                    "Module": "ADD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "User:General"
                },
                {
                    "Tablename": "cad.Sexo",
                    "Identifier": "Sexo",
                    "Module": "ADD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "User:General"
                },
                {
                    "Tablename": "cad.TipoSanguineo",
                    "Identifier": "TipoSanguineo",
                    "Module": "ADD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "User:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\HBIS\\HBIS.Web\\HBIS.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}