{
    "RootNamespace": "HBI",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=NB-013; Initial Catalog=HBI_Default_v1; integrated security=False;user id=sa; Password=q1w2e3r4@",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=NB-013; Initial Catalog=HBI_Northwind_v1; integrated security=False;user id=sa; Password=q1w2e3r4@",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "OLTP",
            "ConnectionString": "Data Source=NB-013; Initial Catalog=OLTP; integrated security=False;user id=sa; Password=q1w2e3r4@",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Exame",
                    "Identifier": "Exame",
                    "Module": "OLTP",
                    "ConnectionKey": "OLTP",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Historico",
                    "Identifier": "Historico",
                    "Module": "OLTP",
                    "ConnectionKey": "OLTP",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Medico",
                    "Identifier": "Medico",
                    "Module": "OLTP",
                    "ConnectionKey": "OLTP",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Paciente",
                    "Identifier": "Paciente",
                    "Module": "OLTP",
                    "ConnectionKey": "OLTP",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\HBI\\HBI.Web\\HBI.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}