@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.OLTP.Medico.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HBIS.OLTP.MedicoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>