@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ADD.Paciente.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HBIS.ADD.PacienteGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>