@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Historico.Historico.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HBIS.Historico.HistoricoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>