@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Exame.Exame.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HBIS.Exame.ExameGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>