@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ADD.TipoSanguineo.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HBIS.ADD.TipoSanguineoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>