@model HBIS.Common.DashboardPageModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section Head {
@Html.StyleBundle("Pages/Dashboard")
@Html.ScriptBundle("Pages/Dashboard")
}

@section ContentHeader {}

    <div class="container">
        <h2>Dashboards</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Glicemia e Insulina</a></li>
            <li><a data-toggle="tab" href="#menu1">Insulina Curva Glicemica</a></li>
            <li><a data-toggle="tab" href="#menu2">Mínimo, Máximo e Média</a></li>
            <li><a data-toggle="tab" href="#menu3">Resultados Exames</a></li>
            <li><a data-toggle="tab" href="#menu4">Exames Geral</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Aferição de Glicemia e Insulina</h3>
                <iframe width="1000" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMTNkN2RlNDAtYjdmZC00MmM4LThlMGYtNWM3MTllZWMyMTc4IiwidCI6ImNlODM0OTUwLTY0N2ItNGQ4MS1iNjExLWQwN2I5MTI1ODgxMSJ9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Insulina Ministrada e Curva Glicemica</h3>
                <iframe width="1000" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZGU1MTA2N2EtYjI5MC00MmI0LTkyOWMtMThkYTI1NGFkZDkzIiwidCI6ImNlODM0OTUwLTY0N2ItNGQ4MS1iNjExLWQwN2I5MTI1ODgxMSJ9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Comparativos Mínimo, Máximo e Média</h3>
                <iframe width="1000" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYWM1MTE4ZjQtODdiMC00N2IzLWJiYTMtODhkZjQwNGVhZTJmIiwidCI6ImNlODM0OTUwLTY0N2ItNGQ4MS1iNjExLWQwN2I5MTI1ODgxMSJ9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Resultados Exames</h3>
                <iframe width="1000" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZjBmZjUxMjUtODc3NS00MjI1LTk5YjMtMmE3ZDhlNDgxMGUwIiwidCI6ImNlODM0OTUwLTY0N2ItNGQ4MS1iNjExLWQwN2I5MTI1ODgxMSJ9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div id="menu4" class="tab-pane fade">
                <h3>Resultados Geral Exames</h3>
                <iframe width="1000" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMTViOTU4YmItNjk1ZS00YTg1LTg3ZGQtMmFhMTE0N2Q5MjJhIiwidCI6ImNlODM0OTUwLTY0N2ItNGQ4MS1iNjExLWQwN2I5MTI1ODgxMSJ9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
