@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CRUD.Exame.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HBIS.CRUD.ExameGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>